# Introduction to Python

In [1]:
2

2

In [3]:
2+2

4

# If we do two or more operation in the same cell only the last operation is executed .
# In the below example we can see only 3+3+3 is returning the output.

In [5]:
2+2
4+2
3+3+3

9

# If we want to  perform multiple operation in the cell use Print

In [11]:
print(2+2)
print(4+2)
print(3+3+3)

4
6
9

In [16]:
print("hello world!");

hello world!

In [18]:
print('hello world', 2+2, 'Welcome to Python')

hello world 4 Welcome to Python

# sep="" remove white space between the comma seperated word

In [22]:
print('hello world', 2+2, 'Welcome to Python', sep="")

hello world4Welcome to Python

In [27]:
# everything to the right of a # is not executed ,it is called comments 
2+2 #only the  uncommented code is executed

4

In [29]:
print("hello" + "world") # '+' used to Add String

helloworld

In [31]:
print("hello"+5) #code does not execute .It gives an error if we ADD string and Integer

TypeError: can only concatenate str (not "int") to str

# Introduction to variables

# Mobile Store sell the Diff mobile phone to the customer.For each order that is placed store keep the record of various attributes related to mobile like Price ,Brand ,Ram and Internal storage

# Q) Suppose store sold Apple iphone of(4 GB RAM and 128 GB Storage) for$900. Store this information in veriable price ,brand,ram, storage

In [64]:
price=900 #integer Variable
brand='Apple'#string variable
ram=4
storage=128

In [60]:
print("The brand of mobile is",brand)

The brand of mobile is Apple

In [62]:
print("The  RAM of mobile is", ram,"GB")

The  RAM of mobile is 4 GB

In [ ]:
print("The Storage of mobile is"+" "+storage+"GB")

In [54]:
print("The price of mobile is $",price,sep="")

The price of mobile is $900

# Q) store the billing states as True

In [72]:
#boolean Variable
is_billed = True
print(is_billed)

True

# Q) Check the DataTypes of the variable price,brand,ram,storage,is_billed

In [74]:
type(price)

int

In [76]:
type(brand)

str

In [78]:
type(ram)

int

In [80]:
type(storage)

int

In [82]:

type(is_billed)

bool

# Q) If the customer buy 2 iphone of same configuration  at Price $900 .What is the total bill that customer has to pay?

In [90]:
bill=price*2
print("Total bill that customer has to pay $",bill ,sep="")

Total bill that customer has to pay $1800

# Q) If the store provide discount of  15 Dolar to the iphone cost $900 .What is the price of phone after discount?1

In [92]:
discount =15
price_after_discount = 900-15
print("Bill that customer paid after $15 discunt $",price_after_discount ,sep="")

Bill that customer paid after $15 discunt $885

# Q)Let say customer buy 2 apple iphone for $1800.Wt is the price of 1 phone.

In [94]:
bill=1800
price = bill/2 #/ give floating Value
print("Price of the iphone $",price ,sep="")

Price of the iphone $900.0

# Q) If customer bought x number of iphone for $900 each.Total bill that customer paid is 3600.Wt is the value of x?

In [98]:
bill = 3600
price =900
x=bill//price # // round to nearest integer value .Double devided forces the value to be integer.
print("Total number of iphone customer purchased",x)

Total number of iphone customer purchased 4

# Q) If the store provide discount of  4.5 to the iphone cost $900 .What is the price of phone after discount?

In [116]:
price =900
discount =price*0.045
price_After_Discount = price - discount
print("price of the phone after discount$" + str(price_After_Discount)) #str(),int(),float() is the explicit type coversion

price of the phone after discount$859.5

In [104]:
type(price_After_Discount)

float

In [118]:
type(price)

int

In [120]:
type(discount)

float

In [124]:
print("The data type of price is",type(price))
print("The data type of discount is",type(discount))

The data type of price is <class 'int'>
The data type of discount is <class 'float'>